html,
html {
    font-family: ubuntu;
}
h2 {
    font-family: ubuntu;
}
div {
    font-family: ubuntu;
}
.b2 {
    font-family: ubuntu;
}
.b1 {
    font-family: ubuntu;
}
.gameid-box {
    font-family: ubuntu;
    background: transparent;
    height: 49px;
}

